%styleHeader {
  width: 100vw;
  min-height: 100vh;
  background: url('../images/ny.jpg') no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

body {


  header {
    @extend %styleHeader;
  }
}